{% extends "layout.html" %}

{% block title %}
 Tweet List
{% endblock %}

{% block content %}
  <div>
    <h1>Your Tweets</h1>
  </div>
  <a  
   href="{% url "create_tweet" %}"
   class = "py-2 px-4 bg-blue-600 rounded-md"
   >
     Create Tweet
 </a>
 <div class="ml-5 mr-5 mt-16 grid grid-cols-3 gap-8">
    {% for tweet in tweets %}
      

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow
    dark:bg-gray-800 dark:border-gray-700 flex flex-col">
      <a href="#">
         <img 
         class="rounded-t-lg h-[300px] w-full" 
         src="{{tweet.photo.url}}" alt="tweet photo" />
      </a>
      <div class="p-5 flex-grow">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight
                  text-gray-900 dark:text-white">
                    {{tweet.username}}
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{tweet.text}}
         </p>
      </div>
    <div class="p-5 flex items-center justify-between mt-auto">
    <a href="{% url "edit_tweet" tweet.id %}" class="inline-flex items-center px-4 py-2 text-sm 
                           font-medium text-center text-white bg-blue-700 
                          rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none
                         focus:ring-blue-300 dark:bg-amber-500 dark:hover:bg-blue-700
                      dark:focus:ring-blue-800">
    Edit Tweet
    </a>
    <a href="{% url "delete_tweet" tweet.id %}" class="inline-flex items-center px-4 py-2 text-sm 
                           font-medium text-center text-white bg-blue-700 
                           rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none
                         focus:ring-blue-300 dark:bg-red-500 dark:hover:bg-blue-700
                         dark:focus:ring-blue-800">
    Delete Tweet
    </a>
   </div>
    </div>


    {% endfor %}
 </div>

{% endblock %}